target/ 
*.class 
*.jar 
*.war 
.idea/ 
*.iml 
application-local.yml 
application-prod.yml 
.env 
config/ 
secrets/ 
src/main/webapp/WEB-INF/spring/root-context.xml 
src/main/webapp/WEB-INF/spring/root-context.xml 
src/main/webapp/WEB-INF/spring/*-context.xml 
