@CHARSET "UTF-8";
/* 공통 */
.center_cnt_1300 {width:1300px; float:left; position:relative; display:inline; }
.center_cnt_1300_bot {width:1300px; height:720px; margin-top:0px; border:1px solid #e9e9e9; background:#fff url(../wm_img/main/bg_botbar.gif) repeat-x 0 100%; overflow:hidden;}
.center_cnt_1300_bot_search {width:1300px; height:865px; margin-top:0px; border:1px solid #e9e9e9; background:#fff url(../wm_img/main/bg_botbar.gif) repeat-x 0 100%; overflow:hidden;}
.guest .guestcntSearch {height:610px; display:block; margin-top:10px; padding:0 0 10px 0; overflow:auto;}
.guest .guestcntSearchExt {height:100%; display:block; margin-top:10px; padding:0 0 10px 0; overflow:auto;}


/*** LDS추가 CSS ***/
/*적용 구역 : 인사재무 -> 인사 및 평가관리*/
.center_cnt_1300_ds {width:1300px; height:780px; float:left; position:relative; margin-left:7px; display:inline; }
.centercnt_1300_bot1-2_ds {width:1300px; height:780px; margin-top:0px; border:1px solid #e9e9e9; background:#fff url(../wm_img/main/bg_botbar.gif) repeat-x 0 100%; overflow:hidden;}
.guest .guestcnt_1300_ds {height:690px;display:block;margin-top:10px;padding:0 0 10px 0;overflow:auto;}

/*적용 구역 : 미제출 팝업*/
.center_cnt_1500 {width:1500px; float:left; position:relative; display:inline; }
.center_cnt_1500_bot {width:1500px; height:720px; margin-top:0px; border:1px solid #e9e9e9; background:#fff url(../wm_img/main/bg_botbar.gif) repeat-x 0 100%; overflow:hidden;}
.center_cnt_1500_bot_search {width:1500px; height:865px; margin-top:0px; border:1px solid #e9e9e9; background:#fff url(../wm_img/main/bg_botbar.gif) repeat-x 0 100%; overflow:hidden;}

.center_cnt_vacation {width:1300px; height:860px; margin-top:0px; border:1px solid #e9e9e9; background:#fff url(../wm_img/main/bg_botbar.gif) repeat-x 0 100%; overflow:hidden;}

/*** //LDS추가 CSS ***/

