BODY {
	SCROLLBAR-FACE-COLOR: #f4f4f4; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #989898; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #ffffff
}
.box0 {
	BORDER-RIGHT: #cacaca 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cacaca 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cacaca 1px solid; COLOR: #666666; PADDING-TOP: 1px; BORDER-BOTTOM: #cacaca 1px solid; TEXT-DECORATION: none
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TEXTAREA {
	BORDER-RIGHT: #c5c3c6 1px solid; BORDER-TOP: #c5c3c6 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #c5c3c6 1px solid; COLOR: gray; BORDER-BOTTOM: #c5c3c6 1px solid; BACKGROUND-COLOR: white
}
TD {
	FONT-SIZE: 9pt
}
INPUT {
	BORDER-RIGHT: #c7c7c7 1px solid; BORDER-TOP: #c7c7c7 1px solid; FONT-SIZE: 9px; BORDER-LEFT: #c7c7c7 1px solid; COLOR: #666666; BORDER-BOTTOM: #c7c7c7 1px solid; FONT-FAMILY: "Arial"; BACKGROUND-COLOR: #ffffff
}
SELECT {
	FONT-SIZE: 10px; COLOR: #7b7b7b; BORDER-TOP-STYLE: solid; FONT-FAMILY: "Arial"; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BACKGROUND-COLOR: #f9f9f9; BORDER-BOTTOM-STYLE: solid
}

FORM {
	FONT-SIZE: 9pt; MARGIN: 0px; COLOR: #666666; LINE-HEIGHT: 12pt; FONT-FAMILY: , arial; LETTER-SPACING: -0.02em; TEXT-DECORATION: none
}
table {border-collapse:collapse;border-spacing:0; font-size:9pt;}
.td {border:1px solid #cccccc; padding:3px;}
.radio{border:0;}
.btn{border:0;}